html {
  color: #2E2E2E;
}

body {
    margin-bottom: 60px;
}

.App {
  text-align: center;
}

.App-header {
    display: flex;
    height: 150px;
    width: 100%;
}

.App-navbar {
    background: #008822;
    width: 100%;
    height: 24px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    font-size: 0.9rem;
    color: white;
}

.App-navbar > a {
    text-decoration: none;
    color: inherit;
}

.App-navbar > a:hover {
    color: #DDD;
}

.App-help-wrapper {
    max-width: 700px;
    margin: auto;
}

.App-help {
    margin: 15px;
    border: 2px solid #AAA;
}

.App-btn-help {
    width: 100%;
    padding: 3px;
    background: #AAA;
    border: none;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.App-btn-help:hover {
    background: #999;
}

.App-title {
  font-size: 1.5em;
}

.App-introduction {
    text-align: left;
    margin: 0 20px;
}

.App-introduction h3 {
    text-align: center;
}

.App-introduction a {
    text-decoration: none;
    color: blue;
}

.App-report-content-box {
    position: fixed;
    right: 0;
    bottom: 0;
    border-top: 1px solid black;
    border-left: 1px solid black;
    background: white;
    padding: 5px;
    font-size: 0.8em;
}

.App-report-content-box a {
    color: #5d94d0;
    cursor: pointer;
    text-decoration: none;
}

.App-report-icon {
    font-size: 0.9em;
    margin-right: 5px;
}

.content {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.Line-ancestors {
    font-family: 'Kavivanar', cursive;
    font-size: 1.2em;
}

.rules-img {
    max-width: 100%;
    padding: 20px;
}

@media (max-width: 550px) {
    .App-header {
      height: 50px;
    }
}