html {
  color: #2E2E2E;
}

.App {
  text-align: center;
}

.App-header {
    display: flex;
/*  background-color: #222;*/
  height: 150px;
    width: 100%;
    margin-bottom: 30px;
/*  padding: 20px;*/
/*  color: white;*/
}

.App-title {
  font-size: 1.5em;
}

.content {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.rules-img {
    max-width: 500px;
    max-height: 148px;
    width: auto;
    height: auto;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 40px;
}

@media (max-width: 550px) {
    .rules-img {
        max-width: 300px;
        max-height: 89px;
    }

    .App-header {
      height: 50px;
    }
}