body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.unstyled-link, .line-link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.line-link {
  display: block;
  margin: 10px auto;
}

.line-link:hover {
  background: #EEE;
}
